.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

body {
  /* font-family: 'Open Sans', sans-serif; */
  background-color: #34586e;
  /* color: #2c3e50; */
  margin: 0;
  padding: 0;
}

header {
  background-color: #34586e;
  color: #ffffff;
  padding: 0px;
  text-align: center;
}

main {
  max-width: 100%;
  margin: 40px; /* auto; */
  padding: 10px;
  background-color: #9dbdd3;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.9);
  box-sizing: border-box;
}

button {
  margin-right: 40px;
  margin-bottom: 50px;
  padding: 8px;
  font-size: 16px;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

th,
td {
  border: 1px solid #95a5a6;
  padding: 10px;
  text-align: left;
}

th {
  background-color: #95a5a6;
  color: #ffffff;
}

tr:nth-child(even) {
  background-color: #f2f2f2;
}


.custom-button {
  background-color: #000000;
  color: #ffffff;
  padding: 8px 16px;
  font-size: 16px;
  border: 2px solid #000000;
  cursor: pointer;
}

.custom-button:hover {
  background-color: #1b567e;
}


.MuiTypography-root {
  margin: 10px 20px; /* Adjust margin values as needed */
}

.custom-typography {
  margin: 10px 20px; /* Adjust margin values as needed */
  background-color: #2980b9;
}

.main-div {
  width: 100%;
}