<configuration>
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder class="ch.qos.logback.core.encoder.LayoutWrappingEncoder">
            <layout class="ch.qos.logback.classic.PatternLayout">
                <pattern>%d{HH:mm:ss} [%thread] [%X{xRequestId}] %-5p - %msg %ex%n</pattern>
            </layout>
        </encoder>
    </appender>
    <appender name="LOGFILE" class="ch.qos.logback.core.FileAppender">
        <file>adwebapp.log</file>
        <encoder class="ch.qos.logback.core.encoder.LayoutWrappingEncoder">
        <layout class="ch.qos.logback.classic.PatternLayout">
            <pattern>%d{HH:mm:ss} [%thread] [%X{xRequestId}] %-5p - %msg %ex%n</pattern>
        </layout>
    </encoder>
    </appender>
    <root level="INFO">
        <appender-ref ref="STDOUT"/>
        <appender-ref ref="LOGFILE"/>
    </root>

</configuration>
